/* THIS FILE IS JUST FOR EXAMPLES, DELETE IT IF YOU DON'T NEED IT */

/* SHELL ---------------------------------------- */
html,
* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--qwik-dark-background);
  color: var(--qwik-dark-text);
  overflow-x: hidden;
}

.nav {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.green {
  background: #193d19;
}

.purple {
  background: #410e9a;
}

.white {
  background: #f5f5f5;
  color: black;
}

.nav svg {
  color: white;
}
